// Gemini Dark Theme

[data-theme="gemini-dark"]
  // Main colors
  --primary: #89b4fa // A nice Gemini blue
  --primary-h: #a6c8ff
  --primary-c: #000

  // Text colors
  --txt: #e3e3e3
  --txt-h: #ffffff
  --txt-i: #1f1f1f
  --txt-r: #000

  // Background colors
  --bg: #1f1f1f
  --bg-alt: #131314
  --bg-h: #2c2c2e

  // Aside colors
  --aside-bg: #2c2c2e
  --aside-bg-h: #3c3c3e
  --aside-bs: 0 0 10px rgba(0,0,0,0.2)

  // Other variables
  --radius: .25rem
  --spacing: 1rem
  --red: #f28b82
  --yellow: #fdd663
  --green: #81c995
  --blue: #89b4fa
